RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]

RewriteRule ^\.env - [F,L]
RewriteRule ^(config|includes|sql|storage)/ - [F,L]
